<!DOCTYPE html>
<html ng-app="credoApp">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <!-- Custom styles for this template -->
     <!--link href="./assets/cover.css" rel="stylesheet"-->
    <link rel="stylesheet" type"text/css" href"./assets/style.css?v=1" />
    <link rel="stylesheet" href="./assets/signin.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src= "/controller/entries.js"></script>

    <style>
        #bg-image{
            width: 700x;
            height: 332px;
            padding-left: 40px;
        }

        #credo-logo{
            position: relative;
            top: 0px;
            left: 40%;
        }

    </style>
  </head>
    <body>
 
    <div class="container border-red" >
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#">Email</a></li>
                <li><a href="#">Phone</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Set Appointment</a></li>
                </ul>
            </li>
            </ul>
            <!-- navbar-left will move the search to the left -->
            <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->

        <a href="index.html">
                <img src="/img/credo-logo.png" alt="credo-logo" id="credo-logo" >
        </a>

        <div class="row" id="bg-img">
             <div class="col-md-10 col-md-offset-1">
                 <img src="/img/untrain-your-brain.jpg" alt="background" id="bg-image">
             </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/transcendent.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/delighted.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/happy.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/grateful.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/confident.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/optimistic.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/determined.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/relieved.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/apologetic.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/indifferent.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/bored.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/tired.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/insecure.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/disappointed.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/frustrated.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/irritable.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/frightened.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/smug.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/negative.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/hurt.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/disgusted.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/guilty.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/sick.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/depressed.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/grieving.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/angry.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/resentful.png" alt="125x125" class="mood-image">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/enraged.png" alt="125x125" class="mood-image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="EntriesListController as entriesList" id="entries-controller">
            <div id="new-entry-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Add a new entry</h4>
                        </div>
                        <div class="modal-body">
                            <form class="container form-signin">
               
                                <input type="hidden" name="email" id="email">
                                <input type="hidden" name="feeling" id="feeling">
                                <input type="hidden" name="charactertrait" id="charactertrait">
                                <input type="hidden" name="score" id="score">
                                
                                <div class="bs-example">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img src="" alt="125x125" id="feeling-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <select name="thoughts" id="thoughts" class="form-control">
                                    <option value="">---Please select---</option> <!-- not selected / blank option -->
                                    <option value="" id="thought1"></option> <!-- not selected / blank option -->
                                    <option value="" id="thought2"></option> <!-- not selected / blank option -->
                                    <option value="" id="thought3"></option> <!-- not selected / blank option -->
                                    <option value="" id="thought4"></option> <!-- not selected / blank option -->
                                </select><br>

                                <input type="text" name="thought" class="form-control" id="thought" placeholder="thought" ng-model="entriesList.thought">
                                <br>
                                <br>
                                <button ng-click="entriesList.add()" data-dismiss="modal" class="btn btn-lg btn-primary btn-block btn btn-info btn-lg">Submit</button>  
 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--Controller-->
    </div><!--Container-->
    <div id="app"></div>
    <script>
    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready( function(){
        $('a').click(function(){
            var self = this;

            console.log(self);
            var parents = $(self).parents(".bs-example");

            //this tells us that it's part of bs-example
            if(parents && parents.length > 0){
                var image = $(self).children()[0];
                var imagePath = $(image).attr('src');
                $('#feeling-img').attr('src', imagePath);
                console.log("Image: " + image);
                doPopup(imagePath);
            }
        });
        
        $('.thumbnail').children('img').addClass('mood-image');
    });

    var _feelingName;
    function doPopup(imagePath){
        //alert("You selected " + feelingSequence);
        
        
        var tokens = imagePath.split("/");
        var feelingName = tokens[tokens.length-1].split(".")[0];

        console.log("Feeling text " + feelingName);

        var entriesController = angular.element(document.getElementById('entries-controller'));

        console.log(entriesController);

        entriesController.scope().getFeeling(feelingName, 
            function(feeling){
                console.log("Got feeling...")
                console.log(feeling)
                $('#thought1').attr('value', "1");
                $('#thought2').attr('value', "2");
                $('#thought3').attr('value', "3");
                $('#thought4').attr('value', "4");

                $('#thought1').html(feeling.thoughts[0]);
                $('#thought2').html(feeling.thoughts[1]);
                $('#thought3').html(feeling.thoughts[2]);
                $('#thought4').html(feeling.thoughts[3]);

                $("#new-entry-modal").modal();

                let email = getParameterByName('email');
                document.getElementById('email').value = email;
                document.getElementById('feeling').value = feeling.name;
                document.getElementById('charactertrait').value = feeling.charactertrait;
                document.getElementById('thought').value = feeling.thoughts[0].split('.')[0]+' ';
                document.getElementById('score').value = feeling.score;

                $("#thoughts").change(function(){

                    var str = "";
                    $( "#thoughts option:selected" ).each(function() {
                        str += $( this ).text() + " ";
                        });
                    
                    str = str.split('.')[0] + ' ';    

                    $("#thought").val(str);
                });
            });
    }
    </script>

  </body>
 
</html>