<!DOCTYPE html>
<html ng-app="credoApp">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <!-- Custom styles for this template -->
    <link href="/css/sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" type"text/css" href"style.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src= "/controller/entries.js"></script>
  </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
               <a href="index.html">
                  <img src="/img/credo-logo.png" alt="credo-logo" id="credo-logo" >
               </a>
            </div>
        </div>
        <div class="row" id="bg-img">
             <div class="col">
                 <img src="/img/blindfold.jpg" alt="background" id="bg-image">
             </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/transcendent.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/delighted.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/happy.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/grateful.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/confident.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/optimistic.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/determined.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/relieved.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/apologetic.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/indifferent.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/bored.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/tired.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/insecure.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/disappointed.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/frustrated.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/irritable.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/frightened.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/smug.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/negative.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/hurt.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/disgusted.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/guilty.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/sick.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/depressed.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bs-example">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/grieving.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/angry.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/resentful.png" alt="125x125">
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="/img/enraged.png" alt="125x125">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="EntriesListController as entriesList" id="entries-controller">
            <div id="new-entry-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Add a new entry</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container">
               
                                <input type="hidden" name="email" id="email">
                                <input type="hidden" name="feeling" id="feeling">
                                <input type="hidden" name="charactertrait" id="charactertrait">
                                <input type="hidden" name="score" id="score">
                                
                                <div class="bs-example">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img src="" alt="125x125" id="feeling-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="thoughts-div">
                                    <select name="thoughts" id="thoughts">
                                        <option value="">---Please select---</option> <!-- not selected / blank option -->
                                        <option value="" id="thought1"></option> <!-- not selected / blank option -->
                                        <option value="" id="thought2"></option> <!-- not selected / blank option -->
                                        <option value="" id="thought3"></option> <!-- not selected / blank option -->
                                        <option value="" id="thought4"></option> <!-- not selected / blank option -->
                                    </select><br>
                                </div>
                                <div>
                                    <input type="text" name="thought" id="thought" placeholder="thought" ng-model="entriesList.thought">
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <button ng-click="entriesList.add()">Submit</button>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        footer
                        </div>
                    </div>
                </div>
            </div>
        
            <button type="button" id="entries-btn" ng-click="entriesList.get()" class="btn btn-info btn-lg">Entries</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#new-entry-modal"id="new-entry">New Entry</button>
        
            <h2>Entries</h2>
            <div ng-repeat="entry in entriesList.entries">
                <hr>
                <h2>{{entry.time}}</h2>  
                <p>{{entry.AuthorId}}</p>
                <p>{{entry.text}}</p>
                <p>{{entry.imageName}}</p>
            </div>
        </div><!--Controller-->
    </div><!--Container-->
    <div id="app"></div>
    <script>
    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready( function(){
        $('a').click(function(){
            var self = this;

            console.log(self);
            var parents = $(self).parents(".bs-example");

            //this tells us that it's part of bs-example
            if(parents && parents.length > 0){
                var image = $(self).children()[0];
                var imagePath = $(image).attr('src');
                $('#feeling-img').attr('src', imagePath);
                console.log("Image: " + image);
                doPopup(imagePath);
            }
        })
    });

    var _feelingName;
    function doPopup(imagePath){
        //alert("You selected " + feelingSequence);
        
        
        var tokens = imagePath.split("/");
        var feelingName = tokens[tokens.length-1].split(".")[0];

        console.log("Feeling text " + feelingName);

        var entriesController = angular.element(document.getElementById('entries-controller'));

        console.log(entriesController);

        entriesController.scope().getFeeling(feelingName, 
            function(feeling){
                console.log("Got feeling...")
                console.log(feeling)
                $('#thought1').attr('value', "1");
                $('#thought2').attr('value', "2");
                $('#thought3').attr('value', "3");
                $('#thought4').attr('value', "4");

                $('#thought1').html(feeling.thoughts[0]);
                $('#thought2').html(feeling.thoughts[1]);
                $('#thought3').html(feeling.thoughts[2]);
                $('#thought4').html(feeling.thoughts[3]);

                $("#new-entry-modal").modal();

                let email = getParameterByName('email');
                document.getElementById('email').value = email;
                document.getElementById('feeling').value = feeling.name;
                document.getElementById('charactertrait').value = feeling.charactertrait;
                document.getElementById('thought').value = feeling.thoughts[0];
                document.getElementById('score').value = feeling.score;

                $("#thoughts").change(function(){

                    var str = "";
                    $( "#thoughts option:selected" ).each(function() {
                        str += $( this ).text() + " ";
                        });

                    $("#thought").val(str);
                });
            });
    }
    </script>

  </body>
 
</html>